button {
    border: none;
    background-color: #93A8D1;
    color: white;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 10px;

}



.navbar {
    background-color: #93A8D1;
    border: none;
}



a {
    color: white;
}



.logo {
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-toggler:focus {

    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0 !important;
}