img {
    padding: 50px;
    max-height: auto;
    padding: 50px;
    max-width: 400px
}


.urgencias {
    margin: 0;
    padding: 20px;
}

p {
    padding-right: 20px;
    padding-left: 20px;
}


h2 {
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: #4A789E;

}

.consultas {
    height: 60%;
}


h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #4A789E;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h3 {
    color: #F2A654;
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    display: flex;
    justify-content: center;

}

@media (max-width: 600px) {
    h3 {
        padding-right: 30px;
        padding-left: 30px;
    }
}


.bloque {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;
    max-width: 600px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;


}

@media (max-width: 800px) {
    .fila {
        flex-direction: column-reverse;
    }
}




.descripcion {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

hr {
    height: 5px;
    background-color: #ff8400;
    width: 100px;
    border: none;
    margin-left: 20px;


}