<h3 id="servicios"> INNOVACIÓN, EXPERIENCIA Y CERCANÍA</h3>
<h1>El mejor cuidado para tu mascota</h1>
<p class="descripcion"> Nuestros más de 20 años de experiencia, unidos a la tecnología más avanzado del mercado, nos
    permiten ofrecerte un servicio de la más alta calidad.<br> Las mascotas son parte de la familia, y las trataremos
    como
    tal, ofreciéndoles el mejor cuidado y tratamiento posible.

</p>




<div class="container-sm mb-5">
    <div class=" row row-cols-1 row-cols-md-2 g-4 mb-3">

        <img src="https://i.ibb.co/zHnJ715/Recurso-6-3x.png" class="img-fluid"
            alt="Ilustración del servicio de revisiones y consultas">
        <div>
            <h2>Revisiones y consultas</h2>
            <hr>
            <p> En Ohana, ofrecemos un servicio de consultas dirigido al diagnóstico de enfermedades, prevención de
                futuras enfermedades y seguimiento de tratamientos. <br> <br> Realizar al menos un chequeo anual a
                nuestras mascotas es fundamental para detectar a tiempo cualquier problema de salud y prevenir futuras
                enfermedades. Más aún cuando se trata de animales mayores, que requieren un seguimiento más exhaustivo.
            </p>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div>
            <h2>Microchips</h2>
            <hr>
            <p> El microchip es un pequeño dispositivo electrónico que se implanta bajo la piel de la mascota y que
                contiene un código único que permitirá identificar a tu mascota. <br> <br> Esperemos que no pase, pero
                en caso de pérdida, el microchip te permitirá encontrar a tu amigo peludo con mayor facilidad. ¡Indoloro
                y rápido!
            </p>
        </div>
        <img src="https://i.ibb.co/V9y0dpG/Recurso-5-3x.png" class="img-fluid"
            alt="Ilustración del servicio microchips">

    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">

        <img src="https://i.ibb.co/25N1Q1G/Recurso-7-3x.png" class="img-fluid"
            alt="Ilustración del servicio de peluquería">
        <div>
            <h2>Peluquería</h2>
            <hr>
            <p> Lavar, enjabonar, secar, cortar las uñas, cortar el pelo... tu mascota se sentirá como en un verdadero
                spa. Cada raza tiene sus necesidades de aseo concretas y nosotros usamos productos especiales
                respetuosos con ellos y con el medioambiente.
            </p>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div>
            <h2>Radiología</h2>
            <hr>
            <p>No hay hueso roto que se nos escape. Disponemos de la última tecnología en radiologías para detectar
                posibles fisuras, fracturas o problemas óseos en general a tiempo.

            </p>
        </div>
        <img src="https://i.ibb.co/jM17X1Q/Recurso-4-3x.png" class="img-fluid"
            alt="Ilustración del servicio de radiología">

    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">

        <img src="https://i.ibb.co/XzSqWJX/Recurso-2-3x.png" class="img-fluid"
            alt="Ilustración del servicio de castraciones">
        <div>
            <h2>Castraciones</h2>
            <hr>
            <p> La castración es una intervención quirúrgica que consiste en la extirpación de los órganos reproductores
                de tu mascota. <br> <br> Realizar una castración no es solo evitar futuras camadas, también es vital
                para prevenir enfermedades como tumores, quistes o infecciones. Además, la castración puede ayudar a
                reducir comportamientos no deseados como la agresividad o la marcaje de territorio.
            </p>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div>
            <h2>Urgencias 24h</h2>
            <hr>
            <p>¿Tienes una urgencia? No te preocupes, estamos para ayudarte. LLámanos cuando lo necesites y acudiremos a
                la clínica o a donde lo necesites a la mayor brevedad. Tu respira, estamos a tu lado.
            </p>
        </div>
        <img src="https://i.ibb.co/9tCKPKD/Recurso-3-3x.png" class="img-fluid"
            alt="Ilustración del servicio de urgencias">

    </div>
</div>