<footer>
    <div class="container">
        <div class="row contenido">
            <div class="col-md-3 pt-3">
                <img src="https://i.ibb.co/1Zjpz5C/Recurso-19-3x.png" class="card-img-top"
                    alt="Logo de la clínica veterinaria Ohana">

            </div>

            <div class="col-md-5 pt-3">
                <h3>Contacto</h3>

                <p>Plaza Etxeberri 5, 20113, <br> Urnieta, Gipuzkoa</p>
                <p>987 765 564</p>
                <p>clinica&#64;ohana.com</p>
            </div>

            <div class="col-md-3 pt-3">
                <h3>Horario de atención</h3>

                <p>De lunes a sábado: <br> 8:00-15:00/ 17:00-20:00 <br><br>
                    Domingo: <br> Cerrado
                </p>

            </div>
            <div>

                <div id="politicas" class="container horizontal">
                    <div class="row ">
                        <hr>
                        <div class="col-md-3 pt-3">
                            <p>Política de privacidad</p>
                        </div>
                        <div class="col-md-5 pt-3">
                            <p>Política de Cookies</p>
                        </div>
                        <div class="col-md-3 pt-3">
                            <p>©Ohana- Clínica veterinaria</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</footer>