<div id="inicio" class="clinica">
    <div class="row cabecera">
        <div class="col-md-6 pt-3 uno">
            <img src="https://i.ibb.co/Pgnfszf/Recurso-48-3x.png" class="medio" alt="Gato mirando al cielo">

        </div>

        <div class="col-md-4 pt-2 dos">

            <h2>Clinica veterinaria Ohana</h2>
            <h1>Cuidamos a tu familia como si fuera la nuestra</h1>
            <hr>
            <p>Las mascotas son un miembro mas de nuestra familia al que queremos de manera
                incondicional y
                al que debemos cuidar y proteger.
                <br> <br>
                En la <b>clínica veterinaria Ohana</b>, nos encargamos de cuidar a tu mascota como si fuera la nuestra,
                con el
                cariño
                y
                la profesionalidad que se merece.
            </p>
        </div>
    </div>
</div>