.logo {
    width: 20%;
}

h1 {
    color: #4A789E;
    font-weight: 800;
    padding-top: 5px;
    margin-left: 30px;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: left;
    letter-spacing: 5px;

}


h2 {
    color: #F2A654;
    font-weight: 600;
    padding-top: 70px;
    margin-left: 30px;
    font-size: 20px;
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: left;
    letter-spacing: 5px;

}



p {
    text-align: left;
    margin-left: 30px;
}



.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
    margin-top: 50px;
}

.medio {
    max-width: 100%;
    padding: 20px;
}

hr {
    height: 5px;
    background-color: #ff8400;
    width: 100px;
    border: none;
    margin-left: 28px;


}

b {
    color: #93A8D1;

}