<div class="container-sm mb-5 testimonios">
    <div class=" row row-cols-1 row-cols-md-2 g-4 mb-3 fila">
        <div id="carouselExampleAutoplaying" class="carousel slide carrusel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/Testimonio Alberto.png" class="d-block w-100" alt="Testimonio Alberto">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Testimonio Nieves.png" class="d-block w-100" alt="Testimonio Nieves">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Testimonio Lola.png" class="d-block w-100" alt="Testimonio Lola">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="texto">
            <h1>¿Quieres saber qué piensan de nosotros?</h1>
            <hr>
            <p>Nuestros clientes hablan por nosotros ¡y hablan muy bien!
                <br>Solo podemos agradecerles toda la confianza que han puesto en nosotros y dejarnos cuidar a su
                familia. ¡Gracias!
            </p>
        </div>
    </div>
    <div class="arriba">
        <svg onclick="window.scrollTo(0, 0)" xmlns=" http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
        </svg>
    </div>