<div class=" contacto row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
        <div class=" texto">
            <h3>TE ESCUCHAMOS</h3>
            <h1>Ayúdanos a mejorar</h1>
            <hr>
            <p>Queremos saber cómo podemos mejorar nuestros servicios. Déjanos tu valoración y la tendremos en cuenta.
            </p>
        </div>
        <div class="mb-3 formulario">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3 formulario">
            <label for="exampleFormControlTextarea1" class="form-label">¿Cómo podemos mejorar?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Enviar</button>
        </div>
    </div>

    <div class="col imagen">
        <div class="mb-2">
            <img src="./assets/Formulario.png" class="card-img-top"
                alt="Ilustración de un gato sonriendo">

        </div>
    </div>
</div>