<h3 id="equipo"> NUESTRA FAMILIA ES TU FAMILIA</h3>
<h1>Conoce a la familia Ohana</h1>
<div class="presentacion">
    <p> <b>Nuestra familia es tu familia.</b> Por eso, queremos que conozcas a los miembros de nuestro equipo, a los que
        cuidarán de
        tu
        mascota como si fuera la suya propia y que estarán a tu lado siempre que los necesites. <br><br>
        Cada uno tiene sus gustos y aficciones, pero si algo tienen en común, es su <b>ámplia experiencia en el cuidado
            de
            los
            animales y la pasión y el cariño </b> en todo lo que hacen. ¿Quieres conocerlos?
    </p>
</div>
<div class="container-sm mb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div class="col">
            <div class="card h-100">
                <img src="./assets/Amelia.png" alt="Ilustración de Amelia Minel">
                <div class="card-body">
                    <h4>AMELIA MINEL</h4>
                    <p class="card-text text-center">Amelia es pura alegría, nunca la falta la sonrisa. Ama el buen cine
                        (o eso dice ella) y las palomitas que lo acompañan. Que no te engañe su joven edad, ha sido la
                        primera de su promoción y es una profesional de los pies a la cabeza.</p>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="./assets/Marta.png" class="card-img-top"
                    alt="Ilustración de María Flores">
                <div class="card-body">
                    <h4>MARTA FLORES</h4>
                    <p class="card-text text-center">Nuestra querida Marta es divertida y dicharachera, sus chistes nos
                        alegran el día. ¿Sabíais que su gata se llama Lola en honor a Lola Flores?<br> Se ha
                        especializado en animales exóticos y no hay quien la gane en ese campo.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="./assets/Alex.png" class="card-img-top"
                    alt="Ilustración de Alex Toboso">
                <div class="card-body">
                    <h4>ALEX TOBOSO</h4>
                    <p class="card-text text-center"> Ay nuestro Alex, un terremoto en toda regla. Surfeando las olas y
                        admirando la vida marina fue cuando se dio cuenta que quería ser veterinario. E hizo bien, en
                        cada urgencia, es experto en sacar lo mejor de el para ayudar a todas las mascotas. <br> ¡Y lo
                        consigue!</p>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="./assets/Alberto.png" class="card-img-top"
                    alt="Ilustración de Alberto Díez">
                <div class="card-body">
                    <h4>ALBERTO DÍEZ</h4>
                    <p class="card-text text-center">Tranquilo, sereno y pensativo, tres adquetivos que identifican a la
                        perfección a Alberto. Es más bueno que un pan y es que no se resiste a ayudar a cualquier animal
                        que necesite ayuda en la calle, por eso tiene ya dos gatos y un perro.<br> ¡Y los que le quedan!
                    </p>

                </div>
            </div>
        </div>

    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div class="col">
            <div class="card h-100">
                <img src="./assets/Marina.png" alt="Ilustración de Marina Loles">
                <div class="card-body">
                    <h4>MARINA LOLES</h4>
                    <p class="card-text text-center">Marina es de armas tomar. Es nuestra
                        última incorporación pero no por ello la menos importante. Meticulosa y detallista, no se le
                        escapa un detalle en quirófano. Sin duda, ha llegado para quedarse <br> ¡y mucho!</p>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="./assets/Amets.png" class="card-img-top"
                    alt="Ilustración de Amets Nogales">
                <div class="card-body">
                    <h4>AMETS NOGALES</h4>
                    <p class="card-text text-center"> Nuestra pequeña artista. No hay día que no trae un dibujo para
                        colgarlo en nuestro tablón. Se hace amiga de todos los peluditos que entran a la clínica y la
                        llegan a querer a ella como si fuera su familia, sin duda, tiene un don con los animales.</p>

                </div>
            </div>
        </div>


    </div>

</div>