<div id="clinica" class="clinica">
    <div class="row">
        <div class="col-md-4 pt-5">
            <h3>OHANA SIGNIFICA FAMILIA</h3>
            <h2> Familia que estará siempre contigo</h2>
            <p> En la cultura Hawaianna <b>Ohana significa familia,</b> pero con un matiz muy especial.
                <br> Ohana es esa familia que, aunque no sea de sangre, está a tu lado de manera incondicional, en las
                buenas y en las malas, y que se ha ganado un lugar en tu corazón.
                <br><br> Para nosotros, nuestros amiguitos peludos son parte de nuestra familia, y por eso <b>queremos
                    cuidarlos como se mercen.</b>
            <p>


        </div>

        <div class="col-md-4 pt-3">
            <img src="https://i.ibb.co/PxwMYX8/Recurso-8-3x.png" class="medio"
                alt="Logo de la clínica veterinaria Ohana">

        </div>



        <div class="col-md-4 pt-5">
            <h3>20 AÑOS </h3>
            <h2> A tu lado, siempre que lo necesites</h2>
            <p>Gracias a nuestro equipo formado por expertos en el sector y a nuestra apuesta por las últimas
                tecnologías, llevamos <b> más de 20 años
                </b>
                cuidando a los animales como si fuesen parte de la familia. <br><br>
                Ratones, serpientes o pastores alemanes, no importa el tamaño, para nosotros, su corazón es del mismo
                tamaño y se merecen el mismo cariño.</p>
        </div>
    </div>
</div>