<h3 id="valores"> PASIÓN POR NUESTRO TRABAJO</h3>
<h1>Conoce nuestros valores</h1>
<div class="columnas container-lg mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col">
            <div class="card h-100">
                <img src="https://i.ibb.co/Tg2nkR9/Recurso-28-2x.png" class="card-img-top cariño" alt="Icono cariño">
                <div class="card-body">
                    <h4>CARIÑO</h4>
                    <p class="card-text text-center"> Ponemos pasión y cariño en todo lo que hacemos. Cuidamos a tu
                        mascota como se merece y como si fuera nuestra familia. </p>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://i.ibb.co/bW1h3q4/Recurso-29-2x.png" class="card-img-top profesionalidad"
                    alt="Icono profesionalidad">
                <div class="card-body">
                    <h4>PROFESIONALIDAD</h4>
                    <p class="card-text text-center"> Puedes estar tranquilo/a, contemoa con los mejores medios y
                        tratamientos para ofrecer el mejor trato a tu mascota.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://i.ibb.co/9nBmWkG/Recurso-26-2x.png" class="card-img-top" alt="Icono calidad">
                <div class="card-body">
                    <h4>CALIDAD</h4>
                    <p class="card-text text-center">Nuestros pacientes están contentos, casi tanto como sus dueños
                        cuando abandonan nuestra clínica con una sonrisa de oreja a oreja.</p>

                </div>
            </div>
        </div>

    </div>

</div>