<div class="contacto" id="contacto">
    <div class=" row row-cols-1 row-cols-md-2 g-4 mb-3" id="horario">
        <div>
            <h3>VEN A VISITARNOS</h3>
            <h2>Te esperamos</h2>
            <hr>
            <p> Estamos en la calle Etxeberri 5, muy cerquita de el parque para perros Buenavista. <br> No dudes en
                venir a preguntarnos cualquier duda que tengas, estaremos encantados de ayudarte siempre que
                lo necesites.
            </p>

            <p id="calle"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg> Plaza Etxeberri 5, 20113,
                Urnieta, Gipuzkoa </p>
            <button type="button" class="btn btn-primary llegar"
                onclick="window.open('https://www.google.com/maps')">Cómo
                llegar</button>

            <h2>Horario de atención de la clínica</h2>
            <div class=" row row-cols-1 row-cols-md-1 g-4 mb-1" id="horario">
                <p> Lunes: 8:00-15:00/ 17:00-20:00 <br>
                    Martes: 8:00-15:00/ 17:00-20:00 <br>
                    Miércoles: 8:00-15:00/ 17:00-20:00 <br> Jueves: 8:00-15:00/ 17:00-20:00 <br>
                    Viernes: 8:00-15:00/ 17:00-20:00<br>
                    Sábados: 8:00-15:00/ 17:00-20:00<br>
                    Domingos: Cerrado

                </p>

            </div>

        </div>

        <img src="./assets/Mapa.png" class="img-fluid" alt="Mapa ilustrado">

    </div>

    <div class="urgencias">
        <div class="azul row row-cols-1 row-cols-md-1 g-4 mb-3">
            <h3 id="ayudarte">ESTAMOS PARA AYUDARTE</h3>
            <h2 id="horas"> Urgencias 24h</h2>
            <hr id="lineaUrgencias">
            <p class="texto"> LLámanos, atendemos urgencias las 24h del día todos los días de la semana. <br> Ven a
                nuestra
                clínica o acudiremos a donde nos necesites.</p>
            <button type="button" id="llamar" class=" btn btn-primary"
                onclick="window.location.href='tel:123456789'">Llamar</button>

        </div>
    </div>

</div>